@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

header {
  background: #a1ceb6;
  height: 15vh;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  color: #252d26;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

nav a {
  background: #6d9695;
  color: white;
  font-weight: 300;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav a:hover {
  background: #252d26;
  cursor: pointer;
}

li svg {
  height: 1rem;
  width: 1rem;
  place-items: center;
  vertical-align: middle;
}

li span {
  margin-left: 5px;
}

.container {
  color: #252d26;
  font-weight: 300;
  padding: 1rem;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.item {
  background: #eee;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.item img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  display: cover;
}

.item h2 {
  color: 300;
  position: absolute;
  text-align: center;
  margin-top: 0.5em;
  font-size: 1rem;
  color: white;
  width: 100%;
}

.item p {
  padding: 0.5em;
}

.sale {
  background: red;
  margin-bottom: 1em;
  display: inline-block;
  border-radius: 5px;
  font-size: 0.6rem;
  color: white;
  display: inline-block;
}

.add-cart {
  background: #5d7c61;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  width: 100%;
}

.add-cart:hover {
  cursor: pointer;
  background: #6d9695;
}

.added-to-cart {
  background: red !important;
}

.shopping-cart {
  padding: 1rem;
}

.shopping-cart h1 {
  color: #252d26;
  font-weight: 300;
  text-align: center;
}

.cart-container {
  background: #ccc;
  width: 90vw;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */